@font-face{
    font-family: "Montauk-Bold";
    src: url(../Montauk-Regular/Montauk-Bold.otf);
}
@font-face{
    font-family: "Montauk-Italic";
    src: url(../Montauk-Regular/Montauk-Italic.otf);
}
@font-face{
    font-family: "Montauk-Light";
    src: url(../Montauk-Regular/Montauk-Light.otf);
}
@font-face{
    font-family: "Montauk-Regular";
    src: url(../Montauk-Regular/Montauk-Regular.otf);
}
body {
    background-image: url("../images/bgtexture.jpg");
}

@media only screen and (max-width: 991px) {
    .imgRow {
      padding: 0px;
    }
}


@media only screen and (max-width: 7700px) {
    #maincontTitle {
        font-family: 'Fugaz One', cursive;
        /* font-family: "Montauk-Italic"; */
        font-size: 50px;
        
    }
}

@media only screen and (max-width: 620px) {
    #maincontTitle {
        font-family: 'Fugaz One', cursive;
      /* font-family: "Montauk-Italic"; */
      font-size: 40px;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: #5F002B;
}

.nav-link{
    font-family: 'Fugaz One', cursive;
    /* font-family: "Montauk-Italic"; */
    font-size: 25px;
    margin-left: 40px;
}

#inRowItems {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;
}

.mainCont{
    background-color: white;
    color: #5F002B;
}


#mainPText{
    color: #5F002B;
    font-family: "Montauk-Regular";
    font-size: 20px;
}

.col-lg-6 p{
    color: #5F002B;
    font-family: "Montauk-Regular";
    font-size: 20px;
}


#mainHeroImage{
    width: 100%;
}

#homeSingleImage{
    width: 100%; 
    height: 100%;
}

#homeImage{
    width: 100%; 
    height: auto;
}

@media only screen and (min-width: 991px) {
    .addBigPad{
        padding: 0px 150px 0px 150px;
    }
}

.botImage{
    height: 40px;
}